# A quick review on correlation and causation

In [1]:
from datascience import *
import numpy as np

%matplotlib inline
import matplotlib.pyplot as plots
plots.style.use('fivethirtyeight')

## Inspect a dataset on baby birth weight

In [2]:
births = Table.read_table('data/baby.csv')
births

Birth Weight | Gestational Days | Maternal Age | Maternal Height | Maternal Pregnancy Weight | Maternal Smoker
120          | 284              | 27           | 62              | 100                       | False
113          | 282              | 33           | 64              | 135                       | False
128          | 279              | 28           | 64              | 115                       | True
108          | 282              | 23           | 67              | 125                       | True
136          | 286              | 25           | 62              | 93                        | False
138          | 244              | 33           | 62              | 178                       | False
132          | 245              | 23           | 65              | 140                       | False
120          | 289              | 25           | 62              | 125                       | False
143          | 299              | 30           | 66              | 136                       | True
140          | 351              | 27           | 68              | 120                       | False
... (1164 rows omitted)

In [5]:
births.select('Maternal Smoker', 'Birth Weight').group('Maternal Smoker') 
# group Maternal Smoker column by categories True and False
# default behavior of group is to count number of rows with the category -- True or False

# 715 nonsmoking moms
# 459 smoking moms

Maternal Smoker | count
False           | 715
True            | 459

In [8]:
births.select('Maternal Smoker', 'Birth Weight').group('Maternal Smoker', np.average)
# group by Maternal Smoker -> 2 categories: True and False
# apply np.average to the rest of the table, in this case just one column: Birth Weight
# average birth weight for each category -- smoking and nonsmoking moms

Maternal Smoker | Birth Weight average
False           | 123.085
True            | 113.819

In [10]:
births.group('Maternal Smoker', np.mean)
# group by Maternal Smoker, 2 categories: True and False
# applied np.average to the rest of the table

Maternal Smoker | Birth Weight mean | Gestational Days mean | Maternal Age mean | Maternal Height mean | Maternal Pregnancy Weight mean
False           | 123.085           | 279.874               | 27.5441           | 64.014               | 129.48
True            | 113.819           | 277.898               | 26.7364           | 64.1046              | 126.919

In [11]:
births.group('Maternal Smoker', np.average)

Maternal Smoker | Birth Weight average | Gestational Days average | Maternal Age average | Maternal Height average | Maternal Pregnancy Weight average
False           | 123.085              | 279.874                  | 27.5441              | 64.014                  | 129.48
True            | 113.819              | 277.898                  | 26.7364              | 64.1046                 | 126.919

## Examine a dataset on a randomize experiment

In [12]:
botox = Table.read_table('data/bta.csv')
botox

Group   | Result
Control | 1
Control | 1
Control | 0
Control | 0
Control | 0
Control | 0
Control | 0
Control | 0
Control | 0
Control | 0
... (21 rows omitted)

In [13]:
botox.group('Group', np.average)

Group     | Result average
Control   | 0.125
Treatment | 0.6