In [1]:
from datascience import *
import numpy as np

%matplotlib inline
import matplotlib.pyplot as plots
plots.style.use('fivethirtyeight')

# Lecture 05: Census

## Table Review: Welcome Survey

Complete this [Class Data Survey](https://forms.gle/Bt7rk5aS16XGyDgr6). Individuals will not be identified. You may leave any answers blank. We'll use this Class Data to use the rest of the quarter. Thank you in advance!

In [2]:
survey = Table.read_table('data/welcome_survey_sp23.csv')

### Find average hours of sleep for side sleepers (hint: use [where-predicates](http://www.data8.org/datascience/reference-nb/datascience-reference.html#Table.where-Predicates))

### Average hours of sleep for back sleepers

### Share of students sleeping at least 8 hours

### Subset table with only sleep information

## Discussion Question: NBA Salaries

The table nba has columns PLAYER, POSITION, and SALARY

**Tasks:**
- Rename "'15-'16 SALARY" to "SALARY" using `relabeled()`
- Subset the table to only contain the player name, the position and the salary

In [14]:
nba = Table.read_table('data/nba_salaries.csv')

**Tasks:**
- Create an array containing the **names** of all point guards (PG) who make more than 15 MUSD/year. Salaries are given in MUSD

**Question**:

What does the following return

```python
nba.drop('POSITION')
nba.num_columns
```

---
Back to slides

---

## Census: Population Trends

[A description of the table appears online.](https://www2.census.gov/programs-surveys/popest/technical-documentation/file-layouts/2010-2019/nc-est2019-agesex-res.pdf)

The Census dataset contain estimates of the US population in each category of sex and age in the years 2020 through 2022. The Census is decennial: it takes place every 10 years. The most recent Census was held in 2020 and the one before that in 2010. The Census Bureau also estimates population changes each year. As explained in the Bureau’s description of its methodology, it “adds the estimated changes to the last decennial census to produce updated population estimates every year.”

In [69]:
data_location = 'http://www2.census.gov/programs-surveys/popest/technical-documentation/file-layouts/2010-2019/nc-est2019-agesex-res.csv'
data_location = 'https://www2.census.gov/programs-surveys/popest/datasets/2020-2022/national/asrh/nc-est2022-agesex-res.csv'
data_location = 'data/nc-est2019-agesex-res.csv'
data_location = 'data/nc-est2022-agesex-res.csv'

census = Table.read_table(data_location)
census.sort('AGE')

### Subset the table
for now, we are only interested in the population size by sex (`SEX`), age (`AGE`) in 2020 and 2022 (`POPESTIMATE2020`, and `POPESTIMATE2022|`).

**Tasks**:
- `POPESTIMATE2020` and `POPESTIMATE2022` are cumbersome. Lets rename them to `2020` and `2022`
- Create a new table containing only the columns we are interested in

**Tasks:**
- How many people above the age of 100 were there in the US in 2014 and 2019?
- How about an age of above 99

**Question:**
- Why don't we see the number of people at age of 101+?

---
Back to slides

---

### Sex ratio
The Census form asks respondents to provide the sex of each household member by checking one of two boxes labeled Male and Female. The SEX column contains numeric codes: 1 for male, 2 for female, and 0 for the total.

**Task**:Find ratio of females to males in the US population in 2022
- Remember that `999` contains all ages

**Task**
- Now lets check the ratio for different age groups

**Task:**
- Create a new table with columns for age and ratios
    - Create a table with only females
    - Create a table with only males
    - Get the age column from either
- plot

### Age change
**Tasks**
- let's load the 2019 census data
- Lets compare the change of population per age group.
- Calculate the absolute change
- Calcluate the relative change

In [3]:
data_location = 'data/nc-est2019-agesex-res.csv'

census = Table.read_table(data_location)
census.sort('AGE')

SEX  | AGE  | CENSUS2010POP | ESTIMATESBASE2010 | POPESTIMATE2010 | POPESTIMATE2011 | POPESTIMATE2012 | POPESTIMATE2013 | POPESTIMATE2014 | POPESTIMATE2015 | POPESTIMATE2016 | POPESTIMATE2017 | POPESTIMATE2018 | POPESTIMATE2019
0    | 0    | 3944153       | 3944160           | 3951430         | 3963092         | 3926570         | 3931258         | 3954787         | 3983981         | 3954773         | 3893990         | 3815343         | 3783052
1    | 0    | 2014276       | 2014278           | 2018474         | 2028430         | 2007742         | 2009723         | 2024511         | 2037646         | 2021375         | 1991761         | 1951663         | 1935117
2    | 0    | 1929877       | 1929882           | 1932956         | 1934662         | 1918828         | 1921535         | 1930276         | 1946335         | 1933398         | 1902229         | 1863680         | 1847935
0    | 1    | 3978070       | 3978090           | 3957730         | 3966225         | 3977549         | 3942698         | 3948891         | 3973133         | 4002903         | 3972711         | 3908830         | 3829599
1    | 1    | 2030853       | 2030861           | 2020235         | 2025272         | 2035213         | 2015723         | 2018511         | 2033686         | 2046917         | 2030158         | 1999022         | 1958585
2    | 1    | 1947217       | 1947229           | 1937495         | 1940953         | 1942336         | 1926975         | 1930380         | 1939447         | 1955986         | 1942553         | 1909808         | 1871014
0    | 2    | 4096929       | 4096939           | 4090621         | 3970654         | 3978925         | 3991740         | 3958711         | 3966321         | 3991349         | 4020045         | 3987032         | 3922044
1    | 2    | 2092198       | 2092202           | 2088545         | 2026392         | 2031333         | 2042266         | 2023752         | 2027455         | 2042821         | 2055454         | 2037249         | 2005544
2    | 2    | 2004731       | 2004737           | 2002076         | 1944262         | 1947592         | 1949474         | 1934959         | 1938866         | 1948528         | 1964591         | 1949783         | 1916500
0    | 3    | 4119040       | 4119051           | 4111688         | 4101644         | 3981531         | 3991017         | 4005928         | 3974351         | 3982984         | 4006946         | 4033038         | 3998665
... (296 rows omitted)

**Tasks**
- Create a new table with the ages and the age changes
- Don't include the *all age row**
- Plot the population change vs the age

Take a look at the top few rows. While the percent change is about 3% for the overall population, it jumps to well over 20% for the people in their late sixties and early seventies. This stunning change contributes to what is known as the greying of America.

What could explain this large increase? 

<details><summary>Answer</summary>
We can explore this question by examining the years in which the relevant groups were born.

Those who were in the age group 69 to 72 in 2014 were born in the years 1942 to 1945. The attack on Pearl Harbor was in late 1941, and by 1942 U.S. forces were heavily engaged in a massive war that ended in 1945.

Those who were 69 to 72 years old in 2019 were born in the years 1947 to 1950, at the height of the post-WWII baby boom in the United States.

The post-war jump in births is a major reason for the large changes that we have observed.
</details>